body {
    font-size: 12px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: rgb(109, 184, 235)
    
}

header img{
    width: 50%;
}

.search-box {
    margin: 36px 0;
}

.search-box input[type=text] {
    width: 100%;
    padding: 1em;
    font-size: 1em;
    color: #444444;
}

article.search-item {
    display: inline-block;
    padding-bottom: 3em;
    margin-bottom: 3em;
    border-bottom: 1px solid #444444;
}

article.search-item h2 {
    color: #444444;
}

.btn {
    padding: 12px;
    font-weight: bold;
}
.btn:disabled {
    opacity: 0.7;;
    
}


.-block {
    width: 100%;
}

.-primary {
    background-color: rgb(109, 184, 235);
    color: white;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.-secondary {
    background-color: white;
    color: black;
    border: 1px solid #000000;
}

footer {
    background: white;
    padding: 20px 0;
    margin: 36px 0 0 0;
    font-size: 1em;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url() 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}